/*----------  variables
------------------------------------------------------------------------------*/

// Sprites
//$icons: sprite-map("icons/*.png", $layout: smart, $spacing: 0);

// Colors
$white: #fff;
$black: #000;
$orange: #e84e1b;
$pink: #dc8080;
$grey: #d6d6d6;